# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
sensor-d4-tls-fingerprinting

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output certificate files & input pcaps
*.crt
*.pcap
